body {
    background-color:black;
    font-family: "Arial", monospace ;
    color: white;
}
h1{
    color: grey;
    font-family: "Verdana", monospace;
}

.main_div{
    margin: auto;
    text-align: left;
    background-color: white;
    border-radius: 25px;
    color:black;
    width: 500px;
    padding: 20px;
    border: 25px;
}
